body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    display: flex;
    flex-flow: column wrap;
    line-height: 1.4;
}
p,
ul {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 10px 0;
}

h1, h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header, .footer, .main {
    max-width: 1180px;
    margin: 0 auto 20px;
    padding: 0 15px;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.intro {
    display: flex;
    align-items: center;
}

.text-left, .foto, .text-right {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    align-items: center;
}
.bold {
    font-weight: bold;
}

.text-left ul {
    list-style-type: none;
    padding-left: 0;
}

.foto img {
    max-width: 300px;
    object-fit: contain;
    display: flex;
    border-radius: 50%;
}   
.nav {
    display: flex;
    justify-content: space-between;
}
a, a:visited {
    text-decoration: none;
    color: black;
}
.nav a {
    display: inline-flex;
    padding: 5px 15px;
    flex: 1;
    align-self: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
}
.nav a:hover {
    color: white;
    background-color: rgba(0,0,0,.75);
}
.main a:hover, .footer a:hover {
    color: rgba(0,0,0,.75);
}
.main > div {
    margin: 10px 0 25px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    text-align: center;
}
h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
h2::after {
    content: '';
    bottom: 0;
    height: 2px;
    background: black;
    width: 20px;
    position: absolute;
    right: -20px
}
.link {
    display: flex;
    align-items: center;
}